<config>
  <vrrp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-vrrp-cfg">
   <interfaces>
    <interface nc:operation="delete">
     <interface-name>{{INT_NAME}}</interface-name>
    </interface>
   </interfaces>
  </vrrp>
</config>
