<interface-configurations xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg">
  <interface-configuration>
    <active>act</active>
    <interface-name>{{INT_NAME}}</interface-name>
  </interface-configuration>
</interface-configurations>
