<bgp xmlns="http://openconfig.net/yang/bgp">
  <neighbors>
    <neighbor>
     <neighbor-address>{{NBR_IP}}</neighbor-address>
     <state>
       <session-state>
       </session-state>
     </state>
    </neighbor>
  </neighbors>
</bgp>
