<routing-policy xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-policy-repository-cfg">
   <route-policies>
    <route-policy>
     <route-policy-name>{{RP_NAME}}</route-policy-name>
    </route-policy>
   </route-policies>
</routing-policy>
